---
// Enlaces configurables para cada build
// Estos son los enlaces que cambiarán para cada dominio
const whatsappLink1 = "https://wa.me/5492233464125?text=Holaa%20quiero%20crear%20mi%20cuenta"; // Reemplazar según el dominio
const whatsappLink2 = "https://wa.me/5492233464125?text=Holaa%20quiero%20crear%20mi%20cuenta"; // Reemplazar según el dominio
const registrationLink = "https://wa.me/5492233464125?text=Holaa%20quiero%20crear%20mi%20cuenta"; // Enlace para registros

import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Beneficios from '../components/Beneficios.astro';
import Promociones from '../components/Promociones.astro';
import Juegos from '../components/Juegos.astro';
import Registro from '../components/Registro.astro';
import Soporte from '../components/Soporte.astro';
import Footer from '../components/Footer.astro';

---

<Layout>
	<Navbar registrationLink={registrationLink} />
	<main class="pt-16 w-full"> <!-- Padding para compensar la navbar fija -->
		<Hero registrationLink={registrationLink} whatsappLink1={whatsappLink1} whatsappLink2={whatsappLink2} />
		<Beneficios registrationLink={registrationLink} />
		<Juegos registrationLink={registrationLink} />
		<Soporte whatsappLink1={whatsappLink1} whatsappLink2={whatsappLink2} />
		<Registro registrationLink={registrationLink} />
	</main>
	<Footer registrationLink={registrationLink} whatsappLink1={whatsappLink1} whatsappLink2={whatsappLink2} />
</Layout>
